# Python системные файлы (содержат скомпилированный код, не нужны в Git)
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (то, что весит больше всего)
.venv/
venv/
ENV/

# Системные файлы macOS (те самые "невидимки")
.DS_Store

# Файлы настроек редактора
.vscode/

# Личные данные и секреты
.env
data/*