# Python системные файлы (содержат скомпилированный код, не нужны в Git)
# Скрываем файл модуля IDEA
*.iml

__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (то, что весит больше всего)
.continue/
*.egg-info/
.venv/
venv/
ENV/

# Системные файлы macOS (те самые "невидимки")
.DS_Store

# Файлы настроек редактора
.vscode/

# Личные данные и секреты
.env
.idea/
data/*
.junie/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE settings
IDE_Settings/

# Custom utilities
my_lib/

# Qodana config
qodana.yaml